@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glassmorphism {
    @apply bg-white bg-opacity-70 backdrop-blur-lg border border-white border-opacity-20 shadow-lg dark:bg-dark dark:bg-opacity-70 dark:border-gray-800;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #059669;
}

@keyframes vertical-scroll {
  from { transform: translateY(0); }
  to { transform: translateY(-50%); }
}

.animate-vertical-scroll {
  animation: vertical-scroll 20s linear infinite;
}
